# The exact requirements of the oldest supported versions of the dependencies.
# This file is used in a GitHub Actions workflow to test the compatibility.
# This file needs to be manually updated to be consistent with
# `pyproject.toml`.
nextline==0.7.13
nextline-graphql==0.7.9
alembic==1.9.0
SQLAlchemy[asyncio]==2.0.31
aiosqlite==0.16.0
hypothesis==6.88.0
tomli==2.0.0
tomli-w==1.0.0
nextline-test-utils==0.1.0
async-asgi-testclient==1.4.10
pytest-asyncio==0.18.0
pytest-cov==3.0.0
pytest-timeout==2.1.0
pytest==7.0.0
