# The exact requirements of the latest versions of the dependencies. This file
# is used in a GitHub Actions workflow to test the compatibility with the
# latest versions of the dependencies. This file is monitored by Dependabot.
nextline==0.7.19
nextline-graphql==0.7.10
alembic==1.14.1
SQLAlchemy[asyncio]==2.0.38
aiosqlite==0.21.0
hypothesis==6.126.0
tomli==2.2.1
tomli-w==1.2.0
nextline-test-utils==0.1.2
async-asgi-testclient==1.4.11
pytest-asyncio==0.25.3
pytest-cov==6.0.0
pytest-timeout==2.3.1
pytest==8.3.4
