# The exact requirements of the latest versions of the dependencies. This file
# is used in a GitHub Actions workflow to test the compatibility with the
# latest versions of the dependencies. This file is monitored by Dependabot.
nextline==0.7.20
nextline-graphql==0.7.11
alembic==1.16.2
SQLAlchemy[asyncio]==2.0.41
aiosqlite==0.21.0
hypothesis==6.135.10
tomli==2.2.1
tomli-w==1.2.0
nextline-test-utils==0.1.2
async-asgi-testclient==1.4.11
pytest-asyncio==1.0.0
pytest-cov==6.2.1
pytest-timeout==2.4.0
pytest==8.4.0
